@import 'normalize';
@import 'layout';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/*font-family: 'Lato', sans-serif;*/


body{
	background: url(../img/bg.jpg);
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* Layout */
.ba-container{
	max-width: 600px;
}

.ba-section {
	box-shadow: 0px 23px 57px 0px rgba(0, 0, 0, 0.4);
	margin-top: 7%;

	&__top {
		background-color:  #2b3040;
		height: 115px;
		width: 100%;
		padding: 0 40px;
		display: flex;
		align-items: center;
	}
	&__item {
		flex-basis: 30%;
		margin: 0 3%;
		text-align: center;
		opacity: 0.3;
		position: relative;

		&:hover {
			opacity: 1;
		}
		
		img {
			min-height: 22px;
		}

		h2 {
			margin: 10px 0 0;
			font-size: 16px;
			text-transform: uppercase;
			color: #b7bacd;
		}
	}

	&__main {
		background-color:  #212534;
		min-height: 435px;
		width: 100%;
		padding: 0 40px;
	}

	&__page {
		padding: 55px 0;

		&:first-child {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__left {
		flex-basis: 200px;
	}
	&__right {
		flex-basis: 315px;
		position: relative;
	}
	&__title {
		color: #fff;
		font-size: 32px;
		margin: 10px 0;
		font-weight: 400;
	}
	&__subtitle {
		color:  #fdfdfd;
		font-size: 14px;
		margin-bottom: 35px;
	}
	&__text {
		color:  #b7bacd;
		font-size: 14px;
		line-height: 22px;
	}
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__rating {
		flex-basis: 31%;
	}
	&__price {
		flex-basis: 31%;
		padding-left: 21px;
	}
	&__buy {
		flex-basis: 31%;
		
	}
}

.active {
	opacity: 1;

	&:after {
		content: '';
		height: 2px;
		width: 100%;
		background: #fff;
		position: absolute;
		bottom: -31px;
		left: 0;
	}
}
.hide {
	display: none;
}
.show {
	display: block;
}
.ba-button {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	border-radius: 2px;
	background-color:  #13e28d;
	height: 55px;
	line-height: 55px;
	padding: 0 30px;
}
.ba-sale {
	color:  #fedd3f;
	font-size: 12px;
	font-weight: 700;
}
.ba-price {
	color:  #ffffff;
	font-size: 32px;
	margin-top: 5px;
}
/* STAR */
.br-theme-fontawesome-stars .br-widget a {
	font-size: 20px;
	margin-right: 8px;
}
.br-theme-fontawesome-stars .br-widget {
	text-align: center;
	margin-top: 5px;
}
.circle {
	position: absolute;
	right: 0;
	top: 0;
}
.circle span {
	color:  #aaadbc;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	left: 22px;
	top: 24px;
}

ol li {
	color: #fff;
	font-size: 18px;
	margin-bottom: 15px;
	padding-left: 10px;
}
h1 {
	color: #fff;
	text-align: center;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
